/*
 Gold: #d4af37
 */


body {
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}

.sidebar-brand {
	color: #d4af37;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.sidebar-brand h1 {
	margin: 40px auto;
	padding: 0;
	text-indent: 0;
	text-align: center;
}

hr {
	border-color: #d4af37;
	margin-right: 10px;
	margin-left: 10px;
	border-style: groove;
}

.sidebar-nav a {
	color: #eee;
	font-size: 18px;
}

.sidebar-nav li {
	border-left: 5px #000000 solid;
}

.sidebar-nav li:hover:not(.sidebar-brand) {
	border-left: 5px #d4af37 solid;
	background-color: #1f1a08;
}

.sidebar-nav li.active {
	border-left: 5px #d4af37 solid;
}
